@model IEnumerable<Models.Blog>

<li class="nav-item dropdown mt-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var Blog in Model)
        {
            <a class="dropdown-item" href="#">@Blog.Title</a>
        }

    </div>
</li>

